body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #297475;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 20px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 20px;
    font-weight: bold;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700; /* gold hover effect */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.money-display {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 1.2em;
}